@{
    ViewBag.Title = "İletişim";
}
<div class="bg-gray">
<div class="container">
<br />
<br />
<br />
<br />
<br />
<br />

<div class=" align-content-center">
    @await Html.PartialAsync("_PartialContact")
</div>
 
       
<br />
<br />
<br />
<br />
</div>
</div>
<style>
    .yazifont {
        color: #7AACC2;
        font-weight: bolder;
        body-font: "Lato", sans-serif;
    }
</style>