<hr />
<footer id="footer" class="overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="~/ministore-1.0.0/images/main-logo.png" alt="logo" _mstalt="47853" _msthash="133" />
                            <p _msttexthash="8796229" _msthash="134">"Teknoloji, hayatımızı kolaylaştıran ve dönüştüren bir güçtür. İleri teknoloji çözümleri, geleceğe dair heyecan verici bir vizyon sunar."</p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <svg class="facebook">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="instagram">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="twitter">
                                                <use xlink:href="#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://tr.linkedin.com/in/muhammet-emin-%C3%A7al%C4%B1%C5%9Fkan-4271002b1?trk=people-guest_people_search-card">
                                            <svg class="linkedin">
                                                <use xlink:href="#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="youtube">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2" _msttexthash="252148" _msthash="135">Hızlı Linkler</h5>
                            <ul class="menu-list list-unstyled text-uppercase">
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="18551" _msthash="136">Ev</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="138398" _msthash="137">Hakkında</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="108303" _msthash="138">Dükkân</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="93457" _msthash="139">Bloglar</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="59956" _msthash="140">Temas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2" _msttexthash="494793" _msthash="141">Yardım ve Bilgi Yardım</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="516945" _msthash="142">Siparişinizi Takip Edin</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="389753" _msthash="143">İade Politikaları</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="246519" _msthash="144">Kargo + Teslimat</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a asp-controller="Home" asp-action="Contact" _msttexthash="235963" _msthash="145">Bize Ulaşın</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" _msttexthash="454155" _msthash="146">Sıkça Sorulan Sorular</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2">
                                <a asp-controller="Home" asp-action="Contact" class="text-decoration-none" _msttexthash="235963" _msthash="147">Bize Ulaşın</a>
                            </h5>

                            <p>
                                <font _mstmutation="1" _msttexthash="2612220" _msthash="148">Herhangi bir sorunuz veya öneriniz var mı? <a href="mailto:" _mstmutation="1" _istranslated="1">test@gmail.com</a></font>
                            </p>
                            <p>
                                <font _mstmutation="1" _msttexthash="2472444" _msthash="149">Desteğe mi ihtiyacınız var? Bizi aramanız yeterli. <a href="" _mstmutation="1" _istranslated="1">+90 111 222 333 44</a></font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>
<div id="footer-bottom">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-md-4 col-sm-6">
                <div class="Shipping d-flex">
                    <p _msttexthash="506480" _msthash="150">Şununla gönderiyoruz:</p>
                    <div class="card-wrap ps-2">
                        <img src="~/ministore-1.0.0/images/dhl.png" alt="vize" _mstalt="47723" _msthash="151" />
                        <img src="~/ministore-1.0.0/images/shippingcard.png" alt="Mastercard Kartı" _mstalt="158184" _msthash="152" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="payment-method d-flex">
                    <p _msttexthash="368719" _msthash="153">Ödeme seçenekleri:</p>
                    <div class="card-wrap ps-2">
                        <img src="~/ministore-1.0.0/images/visa.jpg" alt="vize" _mstalt="47723" _msthash="154" />
                        <img src="~/ministore-1.0.0/images/mastercard.jpg" alt="Mastercard Kartı" _mstalt="158184" _msthash="155" />
                        <img src="~/ministore-1.0.0/images/paypal.jpg" alt="PayPal" _mstalt="79716" _msthash="156" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="copyright">
                    <p>
                        <font _mstmutation="1" _msttexthash="5175729" _msthash="157">© Telif Hakkı 2023  </font>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>