<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş Alındı</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            text-align: center;
            padding: 50px;
        }

        .message-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            color: #7AACC2;
        }

        p {
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            background-color: #7AACC2;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .button:hover {
                background-color: #333;
            }
    </style>
</head>
<body>
    <div class="message-container">
        <h1>Siparişiniz Alındı!</h1>
        <p>Teşekkürler! Siparişiniz başarıyla alınmıştır. En kısa sürede size ulaştırılacaktır.</p>
        <a href="/" class="button">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
